.container {
    width: 40vw;
    height: 50vh;
}


.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-slide {
    width: 70%;
    height: 100%;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

/* .swiper {
    height: 100%;
} */